body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    size: 18pt;
    
}

img {  
  max-width: 100%;  
  height: auto;
  
}  

.thumb {
  max-width: 300px;
  padding-right: 25px;
}

h2 {
    font-weight: normal;
}

ul > li {
    font-weight: bold;
    list-style-type:none;
}

ul > li li {
    list-style-type:square;
}

.main {
    padding: 8px;
    width: auto;
    margin: auto;
}

a {
  color: rgb(3, 32, 97);
  text-decoration: none;
}

a:visited {
  color:rgb(3, 32, 97);
}

a:hover {
  background-color: rgb(3, 32, 97);
    color: white;

}

.gallery {
  max-width: 1200px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery img {
  width: 100%;
}


