body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    size: 18pt;
    
}

h2 {
    font-weight: normal;
}

ul > li {
    font-weight: bold;
    list-style-type:none;
}

ul > li li {
    list-style-type:square;
}

.main {
    padding: 8px;
    width: auto;
    margin: auto;
}

a {
  color: rgb(0, 47, 148);
  text-decoration: none;
}

a:visited {
  color:rgb(0, 47, 148);
}

a:hover {
  background-color: rgb(0, 47, 148);
    color: white;

}

